.control {
  transform: none;
  background-color: var(--owmf-background-color, #fff);
}

.control:empty {
  display: none;
}

.control .button {
  font-size: 20px;
}

.icon {
  vertical-align: middle;
}
