div.custom_popup {
  min-width: 15em;
  max-width: 95vw !important;
  min-height: 15em;
  max-height: 91vh;
  margin-top: 1em;
  bottom: 0;
  left: 0;
  /*transform: translate(10px, 0) !important;*/
  margin-inline-start: 10px;
  z-index: 1000;
  overflow: auto;
  flex-direction: column;
  transform: none !important;
}

div.custom_popup > :global(.maplibregl-popup-content) {
  border: 1px solid #ccc;
  background-color: var(--owmf-background-color);
}

div.custom_popup > :global(.maplibregl-popup-tip) {
  display: none;
}

div.custom_popup button:global(.maplibregl-popup-close-button) {
  width: 1em;
  font-size: 2em;
  font-weight: bold;
  background-color: #f33;
  color: white;
  border-bottom-left-radius: 3px;
}

div.custom_popup button:global(.maplibregl-popup-close-button):hover {
  background-color: #f00;
  color: white;
}
