.control .dropdown_select {
  display: inline-block;
  margin: 5px;
  width: 93%;
  max-width: 95%;
}

.control .title {
  font-weight: bold;
  margin: 0 0.5em;
}

.control table.ctrl_table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.control table.ctrl_table>tbody>tr>td.dropdown_cell {
  max-height: 1em;
}

.control table.ctrl_table>tbody>tr>td.button_cell {
  width: 1em;
}

.control table.ctrl_table>tbody>tr>td {
  padding: 0;
  /*text-align: left;*/
  /*text-align: right;*/
}

tr.extra_children > td > * {
  display: block;
  margin: 0.5em;
}

@media (max-width: 768px) {
  .show_on_desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .show_on_mobile {
    display: none;
  }
}