openapi: 3.0.3
info:
  title: SPARQL endpoint API
  version: 1.0.0
externalDocs:
  url: https://www.wikidata.org/wiki/Wikidata:SPARQL_query_service

servers:
  - url: https://query.wikidata.org
    description: Official Wikidata Query Service (WDQS) endpoint
  - url: https://qlever.cs.uni-freiburg.de/api
    description: Official QLever endpoint

tags:
  - name: sparql
    description: Perform a SPARQL query against the data

paths:
  /{backend}:
    get:
      tags:
        - sparql
      summary: Run SPARQL query via GET
      operationId: get_sparql_query
      parameters:
        - name: backend
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SparqlBackend'
        - name: query
          in: query
          description: The SPARQL query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The SPARQL query has been processed successfully.
          content:
            application/sparql-results+json:
              schema:
                $ref: '#/components/schemas/SparqlResponse'
        '400':
          description: Bad request or malformed SPARQL
        '500':
          description: Fatal error
    post:
      tags:
        - sparql
      summary: Run SPARQL query via POST
      operationId: post_sparql_query
      parameters:
        - name: backend
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SparqlBackend'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - "query"
              properties:
                query:
                  type: string
                  description: The SPARQL query
                format:
                  type: string
                  description: The SPARQL query
      responses:
        '200':
          description: The SPARQL query has been processed successfully.
          content:
            application/sparql-results+json:
              schema:
                $ref: '#/components/schemas/SparqlResponse'
            application/sparql-results+xml:
              schema:
                $ref: '#/components/schemas/SparqlResponse'
            application/qlever-results+json:
              schema:
                $ref: '#/components/schemas/QLeverResponse'
        '400':
          description: Bad request or malformed query
        '500':
          description: Fatal error

components:
  schemas:
    SparqlBackend:
      description: In WDQS must be equal to "sparql". In QLever varies and specifies the source of the data.
      type: string
      enum:
        - sparql
        - wikidata
        - osm-planet

    SparqlResponse:
      type: object
      properties:
        head:
          type: object
          title: SparqlResponseHead
          properties:
            vars:
              type: array
              items:
                type: string
        results:
          type: object
          title: SparqlResponseResults
          properties:
            bindings:
              type: array
              title: SparqlResponseBindings
              items:
                $ref: '#/components/schemas/SparqlResponseBinding'
  
    SparqlResponseBinding:
      type: object
      additionalProperties:
        type: object
        title: SparqlResponseValue
        properties:
          type:
            type: string
          value:
            type: string
          datatype:
            type: string
          xml:lang:
            type: string

    QLeverResponse:
      type: object
      properties:
        query:
          type: string
        res:
          type: array
          description: The result set
          items:
            type: array
            description: A row in the result set
            items:
              type: string
              description: A cell in the row
        resultSize:
          type: integer
        runtimeInformation:
          type: object
        selected:
          type: array
          description: The names of the columns in the result set (the variables selected in the query)
          items:
            type: string
            description: The name of a column
        status:
          type: string
        time:
          type: object
        warnings:
          type: array
          items:
            type: string
