apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: oem-web
  name: oem-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: oem-web
  template:
    metadata:
      labels:
        app: oem-web
    spec:
      containers:
      - image: "registry.gitlab.com/openetymologymap/open-etymology-map"
        name: oem-web
        ports:
        - containerPort: 80
          name: http
          protocol: TCP
        - containerPort: 443
          name: https
          protocol: TCP
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"

