.entity>.entity_grid {
  display: grid;
  grid-template-rows: auto;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 0.5em;
  grid-column-gap: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(24em, 1fr));
}

.entity_image img {
  margin: 0.5em;
  max-width: 24em;
  max-height: 28em;
}

.entity {
  border: 1px solid #ccc;
  margin: 0.5em;
  padding: 1em;
  text-align: center;
  background-color: hsl(200, 30%, 95%);
  border-radius: 0.5em;
  /*height: 100%;*/
  max-width: min(75em, 100%);
}

.entity_pictures_column:empty {
  display: none;
}
