.pic_link {
  position: relative;
}

p.pic_attr {
  overflow: hidden;
  max-height: 2em;
  transition: height 0.5s, width 0.5s, opacity 0.5s;
  margin-top: -8px;
  font-size: x-small;
  text-align: center;
}

p.pic_attr img,
p.pic_attr li:not(:first-child) {
  display: none;
}

p.pic_attr div,
p.pic_attr p,
p.pic_attr ul,
p.pic_attr li:first-child {
  display: inline;
  padding: 0;
  list-style-type: none;
}

img.pic_img {
  width: auto;
  height: auto;
  max-width: 350px;
}
