.pic_link {
  position: relative;
}

p.pic_attr {
  overflow: hidden;
  max-height: 2em;
  transition: height 0.5s, width 0.5s, opacity 0.5s;
  margin-top: -5px;
  font-size: x-small;
  text-align: center;
}

p.pic_attr img {
  display: none;
}

img.pic_img {
  width: auto;
  height: auto;
  max-width: 350px;
}
