div.data_table_popup {
  min-width: 15em;
  max-width: 95vw !important;
  min-height: 15em;
  max-height: 91vh;
  margin-top: 1em;
  bottom: 0;
  left: 0;
  transform: translate(10px, 0) !important;
  z-index: 1000;
  text-align: center;
  overflow: auto;
}