openapi: 3.0.3
info:
  title: Wikimedia Commons REST API
  version: 1.0.0
externalDocs:
  url: https://commons.wikimedia.org/w/api.php?action=help&modules=main

servers:
  - url: https://commons.wikimedia.org/w/
    description: Official Wikimedia Commons endpoint

tags:
  - name: commons
    description: Fetch some information from on Wikimedia Commons API

paths:
  /api.php:
    get:
      tags:
        - commons
      summary: Execute a call to the API
      operationId: api_call
      parameters:
        - name: action
          in: query
          required: true
          example: query
          description: Which action to perform.
          schema:
            $ref: "#/components/schemas/ActionType"
        - name: format
          in: query
          example: json
          description: The format of the output.
          schema:
            type: string
        - name: maxlag
          in: query
          example: 5
          schema:
            type: integer
        - name: iiextmetadatafilter
          in: query
          example: "Artist|LicenseShortName"
          schema:
            type: string
        - name: iiprop
          in: query
          example: extmetadata
          schema:
            type: string
        - name: origin
          in: query
          example: "*"
          description: When accessing the API using a cross-domain AJAX request (CORS), set this to the originating domain. This must be included in any pre-flight request, and therefore must be part of the request URI (not the POST body).
          schema:
            type: string
        - name: prop
          in: query
          example: imageinfo
          schema:
            type: string
        - name: titles
          in: query
          example: File:Example.jpg
          schema:
            type: string
        - name: list
          in: query
          schema:
            type: string
            enum:
              - categorymembers
        - name: cmtype
          in: query
          schema:
            type: string
            enum:
              - file
              - subcat
              - page
        - name: cmlimit
          in: query
          example: 10
          schema:
            type: integer
        - name: cmtitle
          in: query
          example: Category:Maps
          schema:
            type: string
        - name: uselang
          in: query
          example: en
          description: Language to use for message translations.
          schema:
            type: string
        - name: variant
          in: query
          description: Variant of the language. Only works if the base language supports variant conversion.
          schema:
            type: string
      responses:
        "200":
          description: The API call has been processed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonsApiResponse"
        "400":
          description: Bad request
        "500":
          description: Fatal error

components:
  schemas:
    ActionType:
      type: string
      enum:
        - abusefiltercheckmatch
        - abusefilterchecksyntax
        - abusefilterevalexpression
        - abusefilterunblockautopromote
        - abuselogprivatedetails
        - acquiretempusername
        - aggregategroups
        - antispoof
        - block
        - centralauthtoken
        - centralnoticecdncacheupdatebanner
        - centralnoticechoicedata
        - centralnoticequerycampaign
        - changeauthenticationdata
        - changecontentmodel
        - checktoken
        - cirrus-config-dump
        - cirrus-mapping-dump
        - cirrus-profiles-dump
        - cirrus-settings-dump
        - clearhasmsg
        - clientlogin
        - compare
        - createaccount
        - createlocalaccount
        - delete
        - deleteglobalaccount
        - discussiontoolsedit
        - discussiontoolsfindcomment
        - discussiontoolsgetsubscriptions
        - discussiontoolssubscribe
        - discussiontoolsthank
        - echocreateevent
        - echomarkread
        - echomarkseen
        - echomute
        - edit
        - editmassmessagelist
        - emailuser
        - expandtemplates
        - featuredfeed
        - feedcontributions
        - feedrecentchanges
        - feedwatchlist
        - filerevert
        - flickrblacklist
        - flow
        - flow-parsoid-utils
        - flowthank
        - globalblock
        - globalpreferenceoverrides
        - globalpreferences
        - globaluserrights
        - groupreview
        - help
        - imagerotate
        - import
        - jsonconfig
        - languagesearch
        - linkaccount
        - login
        - logout
        - managetags
        - markfortranslation
        - massmessage
        - mediadetection
        - mergehistory
        - move
        - opensearch
        - options
        - paraminfo
        - parse
        - patrol
        - protect
        - purge
        - query
        - removeauthenticationdata
        - resetpassword
        - revisiondelete
        - rollback
        - rsd
        - searchtranslations
        - setglobalaccountstatus
        - setnotificationtimestamp
        - setpagelanguage
        - shortenurl
        - sitematrix
        - spamblacklist
        - streamconfigs
        - strikevote
        - tag
        - templatedata
        - thank
        - titleblacklist
        - torblock
        - transcodereset
        - translationaids
        - translationreview
        - translationstats
        - ttmserver
        - unblock
        - undelete
        - unlinkaccount
        - upload
        - userrights
        - validatepassword
        - watch
        - wbavailablebadges
        - wbcheckconstraintparameters
        - wbcheckconstraints
        - wbcreateclaim
        - wbcreateredirect
        - wbeditentity
        - wbformatentities
        - wbformatvalue
        - wbgetclaims
        - wbgetentities
        - wblinktitles
        - wbmergeitems
        - wbparsevalue
        - wbremoveclaims
        - wbremovequalifiers
        - wbremovereferences
        - wbsearchentities
        - wbsetaliases
        - wbsetclaim
        - wbsetclaimvalue
        - wbsetdescription
        - wbsetlabel
        - wbsetqualifier
        - wbsetreference
        - wbsetsitelink
        - webapp-manifest
        - webauthn
        - wikilove
    CommonsApiResponse:
      type: object
      properties:
        query:
          type: object
          properties:
            pages:
              type: object
              additionalProperties:
                $ref: "#/components/schemas/Page"
            categorymembers:
              type: array
              items:
                $ref: "#/components/schemas/CategoryMember"
                    
    Page:
      type: object
      properties:
        pageid:
          type: integer
        ns:
          type: integer
        title:
          type: string
        imagerepository:
          type: string
        imageinfo:
          type: array
          items:
            $ref: "#/components/schemas/ImageInfoItem"

    ImageInfoItem:
      type: object
      properties:
        timestamp:
          type: string
        user:
          type: string
        userid:
          type: integer
        size:
          type: integer
        width:
          type: integer
        height:
          type: integer
        url:
          type: string
        descriptionurl:
          type: string
        descriptionshorturl:
          type: string
        mime:
          type: string
        mediatype:
          type: string
        mediaid:
          type: string
        extmetadata:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/ExtMetadataItem"

    ExtMetadataItem:
      type: object
      properties:
        source:
          type: string
        value:
          type: string
        hidden:
          type: boolean

    CategoryMember:
      type: object
      properties:
        pageid:
          type: integer
        ns:
          type: integer
        title:
          type: string
