<Files "open-etymology-map.ini">  
  Require all denied
</Files>

<Files "open-etymology-map.log">  
  Require all denied
</Files>

RedirectMatch 403 ^.*open-etymology-map-cache/.*csv$

AddCharset UTF-8 .json

AddType application/json .geojson

<filesMatch ".geojson$">
  Header set Cache-Control "max-age=31536000, public"
</filesMatch>
