.spaced {
    margin: 1em 1em 0 1em;
}

#wikidata_grid img {
    max-width: 15em;
    max-height: 15em;
}

div#map {
    position: absolute;
    /*margin: 10em auto;*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*width: 99.5%;*/
    /*width: 1500px;*/
    /*height: 750px;*/
}

div.detail_container div.etymologies {
    /* https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/ */
    display: grid;
    /*grid-template-columns: repeat(2, 1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-template-rows: auto;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

div.detail_container div.etymology {
    margin: 0.5em;
    /*padding: 0.5em;*/
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 0.5em;
}

div.detail_container div.pictures img {
    margin: 0.5em;
    /*padding: 0.5em;*/
    min-width: 15em;
    min-height: 15em;
    max-width: 20em;
    max-height: 20em;
}

div.detail_container div.info a.k-button {
    margin: 0.5em;
}

div.detail_container div.info a.k-button img {
    max-width: 1.5em;
    margin-right: 0.5em;
}